body {
    background-color:#293241;

}
form {
    outline: 10px;
    padding: 200px;
}

table {
    
    border-radius: 50%;
    background-color: #E0FBFC;
    margin: auto;
    
}
.signs {
    font-size: 25px;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}
.calc-container {
    border-radius: 50%;
}