body {
    background-color:#293241;
    color: #97C1D9;
}

.calc-frame {
    border-radius: 30%;
    background-color: #E0FBFC;
    width: 500px;
    height: 650px;
    margin: 35px;
    padding: 35px;
    border: 35px;
    
}

.signs {
    background-color: #97C1D9;
    font-size: 25px;
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    height: 15px;
    width: 15px;
    
}


#bar {
    
    border-radius: 2px;
    display: inline-block;
    
    width: 85%;
    height: 40px;
    background-color:#293241;
    padding: 10px;
    margin: 15px;

}


.operation {
    background-color: #97C1D9;
    color: white;
    border-radius: 8px;
    height: 10px;
    width: 15px;
    font-size: 25px;
    padding: 25px;
    margin: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-row: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "opr oper opera operation"
    "seven eight nine equal"
    "four five six equa"
    "one two three eq"
    "zero dot clear e";
}

#add {
    grid-area: opr;
    background-color: #3D5A80;
}

#subtract {
    grid-area: oper;
    background-color: #3D5A80;
}

#multiply {
    grid-area: opera;
    background-color: #3D5A80;
}

#divide {
    grid-area: operation;
    background-color: #3D5A80;
}

#num-7 {
    grid-area: seven;
    background-color: #97C1D9;
    color: white;
}

#num-8 {
    grid-area: eight;
    background-color: #97C1D9;
    color: white;
}

#num-9 {
    grid-area: nine;
    background-color: #97C1D9;
    color: white;
}

#equal {
    grid-area: equal;
    background-color: #EE6C4D;
    color: white;
    

}

#num-4 {
    grid-area: four;
    background-color: #97C1D9;
    color: white;
}

#num-5 {
    grid-area: five;
    background-color: #97C1D9;
    color: white;
}

#num-6 {
    grid-area: six;
    background-color: #97C1D9;
    color: white;
}

#num-1 {
    grid-area: one;
    background-color: #97C1D9;
    color: white;
}

#num-2 {
    grid-area: two;
    background-color: #97C1D9;
    color: white;
}
#num-3 {
    grid-area: three;
    background-color: #97C1D9;
    color: white;
}
#num-0 {
    grid-area: zero;
    background-color: #97C1D9;
    color: white;
}
#dot {
    grid-area: dot;
    background-color: #97C1D9;
    color: white;
}
#clear {
    grid-area: clear;
    background-color: #97C1D9;
    color: white;
}